{% extends 'dashboard/base_dashboard.html' %}
{% load static %}

{% block content %}
<div class="row">
    <!-- filter form -->
    <div class="col s3">
        <h4>Filter payments</h4>
        <form action="" method="GET">
            {{filter_form.as_p}}
            <input type="submit" value="submit" class="btn">
        </form>
    </div>

    <!-- payment list -->
    <ul class="collection with-header col s9">
        <li class="collection-header"><h4>Payments list</h4></li>

        {%for object in object_list %}
        <li class="collection-item">User: {{ object.user }}, Value: {{ object.value }}, Days outstainding: {{object.days_outstanding}}

            <a href="{% url 'dashboard:payment-update' pk=object.id %}" class="secondary-content tooltipped"
               data-position="left" data-tooltip="change status">
                <i class="material-icons" >create</i>
            </a>

        </li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}
