{% extends 'dashboard/base_dashboard.html' %}
{% load static %}

{% block content %}
    <ul class="collection with-header">
        <li class="collection-header lime lighten-3"><h4>Products List</h4></li>
        {% for object in object_list %}
        <li class="collection-item">
            <span class="title">{{ object.name }}</span>,
                    Actual price: {{ object.price }}
            <div class="secondary-content">
                <a href="{% url 'dashboard:product-update' pk=object.id %}">
                    EDIT
                </a>|
                <a href="{% url 'dashboard:product-delete' pk=object.id %}">
                    DELETE
                </a>|
                <a href="{% url 'dashboard:product-price-list' pk=object.id %}">
                    PRICING
                </a>
            </div>
        </li>
        {% endfor %}
    </ul>
{% endblock content %}

{% block scripts %}
<script src="{% static 'scripts/dashboard/product-list.js' %}"></script>
{% endblock scripts %}
