.active_page_num {
    background-color: #ffc400;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.nav_header {
    background-color: #263238 ;
    color: #fffde7;
}

.nav_link {
    background-color: #263238 !important;
    color: #fffde7 !important;
}

.nav_link:hover {
    background-color: #455a64 !important;
}

.product-update-card {
    padding: 15px;
}
