<div class="col s12 m12 l9">
    <div class='card-panel'>
        <h4>{{ users|title }} list</h4>
        <a href="" class="btn">Add {{ users }}</a>
        <form action="{% url 'users_panel:user-bulk-action' %}" method="post">
        <table class="highlight">
            <thead>
                <th>Action</th>
                <th>#</th>
                <th>username</th>
                <th>email</th>
                <th>active</th>
                <th>last_login</th>
                <th>actions</th>
            </thead>
            <tbody>

                {% csrf_token %}
                {% for object in object_list %}
                <tr>
                    <td>
                        <label for="object_{{object.id}}">
                            <input id="object_{{object.id}}" type="checkbox" name="object_list" value="{{ object.id }}">
                            <span></span>
                        </label>
                    </td>
                    <td>{{ object.id }}</td>
                    <td>{{ object.username }}</td>
                    <td>{{ object.email }}</td>
                    <td>{{ object.is_active }}</td>
                    <td>{{ object.last_login|date:'d-m-Y'}}</td>
                    <td>
                        <a href="{% url 'order_panel:order-list' %}?{{ object.url_encoded_email }}">ORDERS</a>
                    </td>
                </tr>
                {% endfor %}


            </tbody>
        </table>
        <br>
        <div class="row">
            <div class="col s12 m6">
                <select name="action">
                    <option value="">--</option>
                    {% for action in actions %}
                        <option value="{{action}}">{{action}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col s12 m6">
                <input type="submit" class="btn" name="submit" value="select">
            </div>
        </div>
        </form>
    </div>
</div>
