{% extends 'dashboard/base_dashboard.html' %}
{% load static %}

{% block content %}
<div class="row">
    <!-- filter form -->
    <div class="col s3">
        {% include 'dashboard/generic_filter.html' with filter=filter model_name='deliveries' %}
    </div>

    <!-- delivieries list -->
    <div class="col s12 m12 l9">
        <div class="card">
            <div class="card-title blue-grey lighten-4">
                Deliveries list
            </div>
            <div class="card-contet">
            <table class="striped responsive-table">
                <thead>
                    <tr>
                        <th>Order id</th>
                        <th>Order status</th>
                        <th>Created</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {%for object in object_list %}
                    <tr>
                        <td>{{ object.order.uuid }}</td>
                        <td>{{ object.status }}</td>
                        <td>{{ object.created }}</td>
                        <td>
                            <a href="{% url 'order_panel:order-update' uuid=object.order.uuid %}">
                                CHANGE STATUS
                            </a>|
                            <a href="{% url 'delivery_panel:delivery-update' pk=object.pk %}">
                                EDIT
                            </a>|
                            <a href="{% url 'delivery_panel:delivery-detail' pk=object.pk %}">
                                DETAILS
                            </a>
                        </td>
                    </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4">Nothing here</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}
