{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Compiled and minified Materialize CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

        <title>Dashboard</title>

        <!-- Compiled and minified JQuery 3.2.1 -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="{% static 'style/base_dashboard.css' %}">
    </head>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="dashboard_nav col s2">
          {% include 'dashboard/navbar.html' %}

        </div>

        <div class="card content col s10">
            test
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <script src="{% static 'scripts/ajax-utils.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/base_dashboard.js' %}">

  </script>
  </body>
</html>
