{% extends 'dashboard/base_dashboard.html' %}
{% load static %}

{% block content %}
<div class="row">
    <!-- payment list -->
    <div class="col s12">
        <div class="card-panel">
            <h4>Order details</h4>
            <table class="highlight responsive-table">
                <thead>
                    <tr>
                        <th>Product name</th>
                        <th>Qty</th>
                        <th>Value</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in object.items %}
                <tr>
                    <td>{{item.product.name}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.value}}</td>
                    <td>
                        <a href="{% url 'order_panel:order-item-update' pk=item.pk %}">EDIT</a>|
                        <a href="{% url 'order_panel:order-item-delete' pk=item.pk %}">DELETE</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}
