{% extends 'dashboard/base_dashboard.html' %}
{% load static %}

{% block content %}
<div class="row">
    <!-- filter form -->
    <div class="col s3">
        <h4>Filter orders</h4>
        <form action="" method="GET">
            {{filter_form.as_p}}
            <input type="submit" value="submit" class="btn">
        </form>
    </div>

    <!-- payment list -->
    <ul class="collection with-header col s9">
        <li class="collection-header"><h4>Order list</h4></li>
        {%for object in object_list %}
        <a href="{% url 'order_panel:order-detail' pk=object.pk %}" class="collection-item">
            {{object}}
        </a>
        {% endfor %}
    </ul>

    <div class="col s12">
        {% include 'dashboard/paginator.html' %}
    </div>

</div>
{% endblock content %}
