{% extends 'dashboard/base_dashboard.html' %}
{% load static %}
{% load webstore %}

{% block content %}
<div class="row">
    <!-- filter form -->
    <div class="col s3">
        {% include 'dashboard/generic_filter.html' with filter=filter model_name='orders' %}
    </div>
    <!-- order list -->
    <div class="col s12 m12 l9">
        <div class="card">
            <div class="card-title blue-grey lighten-4">
                Order List
            </div>
            <div class="card-contet">
                <table class="striped responsive-table">
                    <thead>
                        <tr>
                            <th>Order id</th>
                            <th>Created</th>
                            <th>Status</th>
                            <th>Client email</th>
                            <th>Items</th>
                            <th>Value</th>
                            <th>Payment</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for object in object_list %}
                        <tr>
                            <td>{{ object.uuid }}</td>
                            <td>{{ object.created|date:'d-m-Y' }}</td>
                            <td>{{ object.status }}</td>
                            <td>{{ object.user.email }}</td>
                            <td>{{ object.num_items }}</td>
                            <td>{{ object.value|round }}</td>
                            <td>{{ object.payment.payed }}</td>
                            <td>
                                <a href="{% url 'order_panel:order-detail' uuid=object.uuid %}">
                                    VIEW
                                </a>|
                                <a href="{% url 'order_panel:order-update' uuid=object.uuid %}">
                                    STATUS
                                </a>|
                                <a href="{% url 'order_panel:order-delete' uuid=object.uuid %}">
                                    DELETE
                                </a>|
                                <a href="{% url 'order_panel:order-edit' uuid=object.uuid %}">
                                    EDIT
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col s12">
        {% include 'dashboard/paginator.html' %}
    </div>

</div>
{% endblock content %}
