{% extends 'base.html' %}

{% block title %}
    {{ object.name }}
{% endblock title %}

{% block body %}
    <div id="cart-item-count"></div>
    <div class="product-card">
        <h2>{{ object.name }}</h2>
        <div class="product-description">{{ object.description }}</div>
        <div class="product-price">{{ object.price }}</div>
        <form action="">
            <input type="number" id="item-quantity">
            <input type="submit" id="add-to-cart">
        </form>
    </div>
{% endblock body %}
