{% load static %}
<div class="card">
    <div class="card-image">
        {% if object.image %}
            <img src="/{{ object.image }}">
        {% else %}
            <img src={% static 'images/default.png' %}>
        {% endif %}
        <span class="card-title black-text">{{object.name}}</span>
        <a href="{% url 'cart:quick-add-item' object.id %}"
           class="btn-floating halfway-fab waves-effect waves-light red quick-add-item">
           <i class="material-icons">add_shopping_cart</i>
        </a>
    </div>
    <div class="card-content">
        <p>Price: {{ object.price }}</p>
        <a href="{% url 'product:product-detail' object.slug %}">
            <button class="btn small" style="width:100%;">details</button>
        </a>
    </div>
</div>
