{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ object.name }}
{% endblock title %}

{% block body %}
    <div id="cart-item-count">0</div>
    <div class="product-card">
        <h2>{{ object.name }}</h2>
        <div class="product-description">{{ object.description }}</div>
        <div class="product-price">{{ object.get_price }}</div>
        <form id='add-item-form' action="{% url 'cart:add-item' %}">
            {% csrf_token %}
            <input id="product-id" type="hidden" value="{{ object.id }}">
            <label>qty.
                <input type="number" id="item-quantity">
            </label>
            <input type="submit" id="add-to-cart">
        </form>
    </div>
{% endblock body %}

{% block scripts %}
    <script src="{% static 'scripts/ajax-utils.js' %}"></script>
    <script src="{% static 'scripts/product-page.js' %}"></script>
{% endblock scripts %}
