{% extends "base.html" %}
{% load static %}

{% block body %}
  <div class="collection with-header">
    <div class="collection-header"><h4>Your orders</h4></div>
  {% for object in object_list %}
    <a class="collection-item" href="{% url 'order:order-detail' pk=object.pk %}">
      Items: {{ object.item_count }}, Value {{ object.value }},
      Created: {{ object.created }}, Status: {{ object.get_status_display }}
    </a>
  {% endfor %}
</div>
{% endblock body %}

{% block scripts %}
    <script src="{% static 'scripts/order-list.js' %}"></script>
{% endblock scripts %}
