{% extends 'dashboard/base_dashboard.html' %}
{% load static %}

{% block content %}
<div class="row">
    <!-- filter form -->
    <div class="col s3">
        {% include 'dashboard/generic_filter.html' with filter=filter model_name='payments' %}
    </div>

    <!-- payment list -->
    <ul class="collection with-header col s9">
        <li class="collection-header"><h4>Payments list</h4></li>

        {%for object in object_list %}
        <a href="{% url 'payment_panel:payment-update' pk=object.pk %}" class="collection-item">
            <b>User email</b>: {{ object.user.email }},
            <b>Value</b>: {{ object.value }},
            <b>Outstainding</b>: {{ object.status }} {{object.days_outstanding}} days
        </a>
        {% endfor %}
    </ul>
</div>
{% endblock content %}
