{% extends 'webstore/base.html' %}
{% load static %}

{% block title %}
    {{ object.name }}
{% endblock title %}

{% block body %}
    <div class="row">
        <div class="col l6 m6 s12 xs12">

            <div class="carousel carousel-slider">
                <div class="carousel-item">
                    <img src="/{{ object.image }}">
                </div>
            {% for image in product.gallery %}
                <div class="carousel-item">
                    <img src="/{{ image.picture.data.url }}" alt="" width="100">
                </div>
            {% empty %}
                <div class="carousel-item">
                    <img src={% static 'images/default.png' %}>
                </div>
            {% endfor %}
            </div>
        </div>
        <div class="col l6 m6 s12 xs12">
            <h2>{{ object.name }}</h2>
            <div class="product-description">{{ object.description }}</div>
            <div class="product-price">{{ object.price }}</div>
            <form id="add-item-form" action="{% url 'cart:add-item' %}" method="GET">
                {% csrf_token %}
                <input id="product-id" type="hidden" value="{{ object.id }}">
                <label>Select quantity
                    <input type="number" id="item-quantity" value="1">
                </label>
                <input type="submit" id="add-to-cart" class="btn" value="Add to cart">
            </form>
        </div>
    </div>
{% endblock body %}

{% block scripts %}
    <script src="{% static 'scripts/product-page.js' %}"></script>
{% endblock scripts %}
