{% extends 'dashboard/base_dashboard.html' %}
{% load static %}

{% block content %}
    <div class="col s12">
        <a href="{% url 'product_panel:picture-create' %}" class="btn">Add image</a>
    </div>
    {% for object in object_list %}
        <div class="col s6 m4 l2">
            <div class="card ">
                <div class="card-image">
                    <img class="materialboxed" src="/{% get_media_prefix %}{{ object.data }}" alt="">
                    <span class="card-title" style="color: black !important;">{{ object.name }}</span>
                </div>
                <div class="card-action">
                    <a href="#">Delete</a>
                    <a href="#">Rename</a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock content %}

{% block scripts %}
    <script>
        $('.materialboxed').materialbox()
    </script>
{% endblock scripts %}