{% extends 'dashboard/base_dashboard.html' %}
{% load static %}

{% block content %}
<div class='card-panel'>
    <h4>Price list for product: <b>{{ product.name }}</b></h4>
    <a href="" class="btn">Add price</a>
    <table class="highlight">
        <thead>
            <th>#</th>
            <th>Value</th>
            <th>valid_from</th>
            <th>Actions</th>
        </thead>
        <tbody>
            {% for object in object_list %}
            <tr>
                <td>{{ object.id }}</td>
                <td>{{ object.name }}</td>
                <td>{{ object.valid_from }}</td>
                <td>
                    <a href="">EDIT</a>|
                    <a href="">DELETE</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="col s12">
    {% include 'dashboard/paginator.html' %}
</div>
{% endblock content %}

{% block scripts %}
<script src="{% static 'scripts/dashboard/product-list.js' %}"></script>
{% endblock scripts %}