{% extends 'dashboard/base_dashboard.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col s12 m12 l3">
        <div class="card">
            <div class="card-title blue-grey lighten-4">
                Filter products
            </div>
            <div class="card-content">
                <form class="" action="" method="get">
                    <div class="row">
                        {% for field in filter.form %}
                        <div class="col s6 m6">
                            {{ field.errors }}
                            <label for="{{ field.id_for_label }}">{{ field.name }}</label>
                            {{ field }}
                        </div>
                        {% endfor %}
                    </div>
                    <input type="submit" name="submit" value="Submit" class="btn">
                </form>

            </div>
        </div>
    </div>

    <div class="col s12 m12 l9">
        <div class="card">
            <div class="card-title blue-grey lighten-4">
                Products List
            </div>
            <div class="card-contet">
                <table class="striped responsive-table">
                    <thead>
                        <tr>
                            <th>Number</th>
                            <th>Name</th>
                            <th>Active</th>
                            <th>Stock</th>
                            <th>Price</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for object in object_list %}
                        <tr>
                            <td>{{ object.number }}</td>
                            <td>{{ object.name }}</td>
                            <td>{{ object.active }}</td>
                            <td>{{ object.stock }}</td>
                            <td>{{ object.price }}</td>
                            <td>
                                <a href="{% url 'product_panel:product-update' slug=object.slug %}">
                                    EDIT
                                </a>|
                                <a href="{% url 'product_panel:product-delete' slug=object.slug %}">
                                    DELETE
                                </a>|
                                <a href="{% url 'product_panel:product-price-list' number=object.number %}">
                                    PRICING
                                </a>|
                                <a href="{% url 'product_panel:product-gallery' slug=object.slug %}">
                                    IMAGES
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col s12">
        {% include 'dashboard/paginator.html' %}
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script src="{% static 'scripts/dashboard/product-list.js' %}"></script>
{% endblock scripts %}
