{% extends 'dashboard/base_dashboard.html' %}
{% load static %}

{% block content %}
    <br>
    <div class="col s12">
        <h4>Images for product: {{ product.name }}</h4>
        <a href="{% url 'product_panel:product-gallery-add' slug=product.slug %}" class="btn">Add from library</a>
        <a href="{% url 'product_panel:product-gallery-upload' slug=product.slug %}" class="btn">Upload image</a>
    </div>
    {% for object in object_list %}
        <div class="col s6 m4 l2" >
            <div class="card" id="gallery_image_{{ object.id }}">
                <div class="card-image">
                    <img class="materialboxed" src="/{% get_media_prefix %}{{ object.picture.data }}" alt="">
                    <span class="card-title" style="color: black !important;">
                        {{ object.number }}
                        {{ object.picture.name }}
                    </span>
                </div>
                <div class="card-action">
                    <a href="{% url 'product_panel:product-gallery-remove-api' slug=object.product.slug pk=object.pk %}"
                       class="remove_image"
                       data-id="{{ object.id }}"
                    >
                        Remove
                    </a>
                    <a href="#">Edit</a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock content %}

{% block scripts %}
    <script>
        $('.materialboxed').materialbox()

        $('.remove_image').on('click', function(event){
            event.preventDefault();
            var url = $(this).attr('href');
            var card = $('#gallery_image_' + $(this).data('id'))
            $.ajax({
                url: url,
                method: 'POST',
            }).done(function (data) {
                card.fadeOut('slow', function(){
                    card.parent().remove();
                });
            }).fail(function () {
                return 0;
            });
        });


    </script>
{% endblock scripts %}