{% extends 'dashboard/base_dashboard.html' %}

{% block content %}
    <ul class="collapsible">
        <li>
            <div class="collapsible-header">
                <i class="material-icons">create</i>
                <b>Product creaton checklist</b>
            </div>
            <div class="collapsible-body">
                <p>Each product needs to have at least one category - create it before adding a product</p>
                <p>Product withouth price won`t be avaliable in store - add a price after creating a product</p>
                <p>Images are stored independently from products - add a picutre, and attach it to product</p>
            </div>
        </li>
    </ul>
    <div class="product-update-card card">
        <div class="card-title">
            <p>Name: {{ object.name }}</p>
            <small>
                last updated: {{object.edited }} <br>
                created: {{object.created }}
            </small>
        </div>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.errors }}
            {{ form.non_field_errors }}
            <div class="cart-content ">
                <div class="row">
                    <div class="input-field col m6 s12 xs12">
                        {{ form.name.errors }}
                        {{ form.name }}
                        <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                    </div>
                    <div class="input-field col m6 s12 xs12">
                        {{ form.active.errors }}
                        <label for="{{ form.active.id_for_label }}">
                            {{ form.active }}
                            <span>{{ form.active.label }}</span>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col m3 s6 xs12">
                        {{ form.weight.errors }}
                        {{ form.weight }}
                        <label for="{{ form.weight.id_for_label }}">{{ form.weight.label }}</label>
                    </div>
                    <div class="input-field col m12 s12 xs12">
                        {{ form.description.errors }}
                        {{ form.description }}
                        <label for="{{ form.description.id_for_label }}">{{ form.description.label }}</label>
                    </div>
                    <div class="input-field col m12 s12 xs12">
                        {{ form.categories.errors }}
                        {{ form.categories }}
                        <label for="{{ form.categories.id_for_label }}">{{ form.categories.label }}</label>
                    </div>
                </div>
            </div>
            <div class="card-action">
                <input type="submit" name="submit" value="submit" class="btn">
                <a href="{% url 'product_panel:product-list' %}" class="btn">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}

{% block scripts %}
<script>
    $('.collapsible').collapsible();
</script>
{% endblock scripts %}