<!-- # TODO move style to css sheet -->
<div style="  min-height: 100vh;width: 100%;">
    <ul class='collapsible blue-grey darken-4 yellow-text text-lighten-5' style="border: 0px; box-shadow: 0px">
        <li>
          <div class="collapsible-header nav_header">
              <i class="material-icons">view_list</i>Products </div>
          <div class="collapsible-body">
              <div class="collection">
                  <a href="{% url 'product_panel:product-list' %}" class="nav_link collection-item">Products List</a>
                  <a href="{% url 'product_panel:product-create' %}" class="nav_link nav_link collection-item">Add Product</a>
                  <a href="{% url 'product_panel:category-list' %}" class="nav_link nav_link collection-item">Category List</a>
                  <a href="{% url 'product_panel:picture-list' %}" class="nav_link nav_link collection-item">Pictures</a>
              </div>
          </div>
        </li>
        <li>
          <div class="collapsible-header nav_header">
              <i class="material-icons">shopping_basket</i>Sales </div>
          <div class="collapsible-body">
              <div class="collection">
                  <a href="{% url 'order_panel:order-list' %}" class="nav_link collection-item">Order list</a>
                  <a href="{% url 'delivery_panel:delivery-list' %}" class="nav_link collection-item">
                      Deliveries
                  </a>
                  <a href="{% url 'payment_panel:payment-list' %}" class="nav_link collection-item">Payments</a>
            </div>
          </div>
        </li>
         <li>
          <div class="collapsible-header blue-grey darken-4 yellow-text text-lighten-5">
              <i class="material-icons">account_circle</i>Accounts</div>
          <div class="collapsible-body">
                 <div class="collection">
                    <a href="#" class="nav_link collection-item">
                        Clients</a>
                     <a href="#" class="nav_link collection-item">
                        Staff</a>
                </div>
          </div>
        </li>
        <li>
          <div class="collapsible-header blue-grey darken-4 yellow-text text-lighten-5">
              <i class="material-icons">assessment</i>Settings</div>
            <div class="collapsible-body">
                <div class="collection">
                    <a href="{% url 'delivery_panel:delivery-option-list' %}" class="nav_link collection-item">
                        Delivery options</a>
                </div>
            </div>

        </li>
        <li>
            <div class="collection">
                    <a href="" class="nav_link collection-item">Logout</a>
            </div>
        </li>
    </ul>
</div>
