<ul class="pagination center">
    {% if page_obj.has_previous %}
    <li>
        <a href="{{ request.path }}?page={{ page_obj.previous_page_number}}&{% for k,v in request.GET.items %}{% if k != "page" %}{{ k }}={{ v }} &{% endif %}{% endfor %}">
            <i class="material-icons">chevron_left</i>
        </a>
    </li>
    {% endif %}

    {% for x in page_obj.paginator.page_range %}
        <li><a href="{{ request.path }}?page={{x}}&{% for k,v in request.GET.items %}{% if k != "page" %}{{ k }}={{ v }} &{% endif %}{% endfor %}"
            {% if x == page_obj.number %}class="blue accent-1"{% endif %}>{{x}}</a>
        </li>
    {% endfor %}

    {% if page_obj.has_next %}
    <li>
        <a href="{{ request.path }}?page={{ page_obj.next_page_number}}&{% for k,v in request.GET.items %}{% if k != "page" %}{{ k }}={{ v }} &{% endif %}{% endfor %}">
            <i class="material-icons">chevron_right</i>
        </a>
    </li>
    {% endif %}
</ul>