{% extends 'webstore/base.html' %}
{% load static %}

{% block title %}
Cart summary
{% endblock title %}

{% block body %}

<ul class="collection with-header">
    <li class="collection-header">
        <h4>Your cart</h4>
    </li>
{% for object in object_list %}
    <li class="collection-item">
        {% include 'webstore/cart/cart_list_item.html' with object=object %}
    </li>
{% endfor %}
</ul>
ITEMS IN CART: <span id="cart_summary_item_count"> {{cart_item_count}} </span>
<br>
TOTAL VALUE: <span id="cart_summary_total_value">{{ cart_value }}</span>
<a href="{% url 'order:order-confirm' %}">
    <button class="btn">checkout</button>
</a>
{% endblock body %}

{% block scripts %}
<script src="{% static 'scripts/cart-list.js' %}"></script>
{% endblock scripts %}
