{% extends "webstore/base.html" %}
{% load static %}

{% block body %}
 <table class="responsive-table">
	<thead>
		<tr>
			<th>id</th>
			<th>status</th>
			<th>created</th>
			<th>items</th>
			<th>value</th>
			<th>action</th>
		</tr>
	</thead>
	<tbody>
		{% for order in object_list %}

		<tr>
			<td>{{ order.uuid }}</td>
			<td>{{ order.status }}</td>
			<td>{{ order.created }}</td>
			<td>{{ order.item_count }}</td>
			<td>{{ order.value }}</td>
			<td><a href="{% url 'order:order-detail' uuid=order.uuid %}" class="btn">details</a></td>
		</tr>
			
		{% endfor %}
	</tbody>
</table>
{% include 'dashboard/paginator.html' %}
{% endblock body %}

{% block scripts %}
    <script src="{% static 'scripts/order-list.js' %}"></script>
{% endblock scripts %}
